# Dependencies
node_modules

# Expo
.expo
.expo-shared
dist
web-build

# Android
android/.gradle
android/build
android/app/build

# iOS
ios/build

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# System
.DS_Store

# Environment
.env
.env*.local

# Cache
.cache
tmp
coverage

# Build outputs
*.apk
*.aab